[submodule "lingofunk-classify-sentiment"]
	path = lingofunk-classify-sentiment
	url = https://github.com/lingofunk/lingofunk-classify-sentiment
[submodule "lingofunk-generate"]
	path = lingofunk-generate
	url = https://github.com/lingofunk/lingofunk-generate
[submodule "lingofunk-classify-relevance"]
	path = lingofunk-classify-relevance
	url = https://github.com/lingofunk/lingofunk-classify-relevance
[submodule "lingofunk-transfer-style"]
	path = lingofunk-transfer-style
	url = https://github.com/lingofunk/lingofunk-transfer-style
[submodule "lingofunk-regenerate"]
	path = lingofunk-regenerate
	url = https://github.com/lingofunk/lingofunk-regenerate
