<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
		integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
		integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css" crossorigin="anonymous">
	<style>
		#btn-submit {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.loader {
			border: 0.2em solid #f3f3f3;
			/* Light grey */
			border-top: 0.2em solid #3498db;
			/* Blue */
			border-radius: 50%;
			width: 2em;
			height: 2em;
			animation: spin 2s linear infinite;
			display: inline-block;
			margin-left: 1em;
			margin-top: 2.2em;
			position: absolute;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	</style>
	{% block head %}{% endblock %}
</head>

{% set menu_items = [
    ('/classify-sentiment', 'classify-sentiment', 'Classify by Sentiment'),
    ('/compare-reviews', 'compare-reviews', 'Classify by Relevance'),
    ('/generate/discrete', 'generate-discrete', 'Generate by Sentiment Type'),
    ('/generate/continuous', 'generate-continuous', 'Generate by Sentiment Degree'),
    ('/regenerate', 'regenerate', 'Generate by Sentiment Intensity'),
    ('/transfer-style', 'transfer', 'Transfer Style'),
    ('/interpolate', 'interpolate', 'Interpolate between Reviews')
] -%}

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Lingofunk</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
				aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="nav navbar-nav">
					{% for href, page_id, text in menu_items %}
					<li class="nav-item" {% if page_id == current_page_id %} class="active" {% endif %}>
						<a class="nav-link" href="{{ href|e }}">{{ text|e }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</div>

	<footer>
		{% block scripts %}{% endblock %}
	</footer>
</body>

</html>