{% extends "base.html" %}
{% set current_page_id = 'index' %}
{% block title %}Lingofunk{% endblock %}

{% block body %}
<h1>
    Demos
</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="/classify-sentiment">Classify sentiment</a></td>
            <td>Check whether the review is positive or negative</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="/compare-reviews">Compare reviews by relevance</a></td>
            <td>Check how relevant a pair of reviews are to each other</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="/generate/discrete">Generate text of the given sentiment class</a></td>
            <td>Generate text of the given sentiment: positive, negative or neutral</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="/generate/continuous">Generate text of the given sentiment degree</a></td>
            <td>Generate text with given fraction of positive or negative sentiment</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="/regenerate">Regenerate</a></td>
            <td>Generate text of the given sentiment and intensity</td>
        <tr>
            <td>6</td>
            <td><a href="/transfer-style">Transfer style</a></td>
            <td>Generate a review of the same style, but different sentiment</td>
        </tr>
    </tbody>
</table>
{% endblock %}
