{% extends "base.html" %}
{% set current_page_id = 'classify-sentiment' %}
{% block title %}Review Sentiment{% endblock %}

{% block head %}
<style>
	.activation-map {
		flex: 1 1;
		padding: 8px;
		padding-top: 32px;
		max-width: 100%;
		box-sizing: border-box;
	}

	#sentence-list {
		padding-left: 0;
	}

	#sentence-list li {
		display: flex;
		align-items: center;
	}

	.sentence {
		padding-left: 32px;
	}

	.sentence-label {
		width: 32px;
		height: 22px;
		display: inline-block;
	}

	.words-container {
		width: 100%;
	}

	.word {
		display: inline-block;
		padding: 0 4px;
	}

	#prediction-container {
		margin-top: 8px;
		color: #555;
	}
</style>
{% endblock %}

{% block body %}
<h2 align="center">Review Sentiment Meter</h2>
<div class="form-group">
	<form action="{{ url_for('activations_api') }}" id="textform" method="post">
		<label for="review">Review:</label>
		<textarea class="form-control" id="review" name="review" rows="5"
			placeholder="Enter your review.">The atmosphere is so hip and relaxed. Prices and portions are fair. They really try to give you a nice little Thailand feel with the restaurant's neat decor. The coasters for drinks even have elephants on them. So cute. I always order the Chicken Pad Thai because it's my favourite! I absolutely love Thai food and tend to order a Pad Thai wherever I can, and I have to say Pai is one of the best places to get it in Toronto. Lots of flavour that just hits the spot!</textarea>
	</form>
	<br />
</div>
<button type="submit" class="btn btn-success" onclick="onClickSubmit()">
	Submit
</button>
<div class="activation-map" id="activation-map">
	<ul id="sentence-list"></ul>
</div>
{% endblock %}

{% block scripts %}
<script>
	let onClickSubmit = function (event) {
		const url = "api/classifier/activations"; // use your endpoint
		$.ajax({
			url: url,
			type: 'POST',
			contentType: 'application/json',
			datatype: 'json',
			data: JSON.stringify({
				// add here any additional value, such as range or options
				text: $('#review').val()
			}),
			success: function (result) {
				// place here any display functions
				console.log(result);
				let parsedResults = JSON.parse(result);
				renderActivationMap(parsedResults)
			}
		});

	};

	let getSentenceColorForActivation = function (a) {
		return `rgba(0, 0, 255, ${a})`;
	};

	let getWordColorForActivation = function (a) {
		return `rgba(255, 0, 0, ${a})`;
	};

	let createSentenceElement = function (sa, words, originalWords) {
		let sentenceElement = document.createElement("li");
		sentenceElement.className = "sentence";
		sentenceElement.style.backgroundColor = getSentenceColorForActivation(
			sa
		);

		let wordsContainer = document.createElement("div");
		wordsContainer.className = "words-container";
		wordsContainer.style.backgroundColor = "white";
		let s_weight = Math.sqrt(sa);
		for (let i = 0; i < words.length; i++) {
			let a = words[i][1];
			let w = originalWords[i];
			wordsContainer.appendChild(createWordElement(w, a, s_weight));
		}
		wordsContainer.appendChild(createWordElement(".", 0, sa));
		sentenceElement.appendChild(wordsContainer);

		return sentenceElement;
	};

	let createWordElement = function (w, a, s_weight) {
		let wordElement = document.createElement("div");
		wordElement.className = "word";
		wordElement.style.backgroundColor = getWordColorForActivation(
			s_weight * a
		);
		wordElement.innerHTML = w;
		return wordElement;
	};

	let renderActivationMap = function (data) {
		activations = data.activations;
		processed_text = data.processed_text;
		const sentenceList = document.getElementById("sentence-list");
		while (sentenceList.firstChild) {
			sentenceList.removeChild(sentenceList.firstChild);
		}
		let predictionContainer = document.getElementById(
			"prediction-container"
		);
		if (predictionContainer) {
			predictionContainer.remove();
		}
		for (let i = 0; i < activations.length; i++) {
			let s = activations[i];
			let words = s[0];
			let originalWords = processed_text[i].split(" ");
			let sa = s[1];
			sentenceList.appendChild(
				createSentenceElement(sa, words, originalWords)
			);
		}
		renderPrediction(data.prediction);
	};

	let renderPrediction = function (prediction) {
		let predictionContainer = document.createElement("div");
		predictionContainer.id = "prediction-container";
		prediction = Math.round(prediction);
		let predictionText = "Predicted rating: ";
		let sentiment = "Positive";
		if (prediction == 0) {
			sentiment = "Negative";
		}
		predictionText += sentiment;
		predictionContainer.innerHTML = predictionText;
		document
			.getElementById("activation-map")
			.appendChild(predictionContainer);
	};

</script>
{% endblock %}