<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Regenerate</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<!--<link rel="stylesheet" href="css/style.css">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/@jaames/iro@beta/dist/iro.js"></script>

	<style>
		#btn-submit {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.loader {
			border: 0.2em solid #f3f3f3;
			/* Light grey */
			border-top: 0.2em solid #3498db;
			/* Blue */
			border-radius: 50%;
			width: 2em;
			height: 2em;
			animation: spin 2s linear infinite;
			display: inline-block;
			margin-left: 1em;
			margin-top: 2.3em;
			position: absolute;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	</style>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Lingofunk</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/classify-sentiment">Sentiment Classifier</a></li>
					<li><a href="/compare-reviews">Relevance Classifier</a></li>
					<li><a href="/generate/discrete">Sentiment Class Generator</a></li>
					<li><a href="/generate/continuous">Sentiment Degree Generator</a></li>
					<li class="active"><a href="/regenerate">Sentiment Picker</a></li>
					<li><a href="/transfer-style">Style Imitator</a></li>
				</ul>
			</div>
		</nav>


		<div class="row" style="margin-bottom: 2em;">
			<h2 align="center">Text Regenerator</h2>
			<fieldset>
				<label for="text-input">Text original</label>
				<textarea class="form-control" id="text-input" name="text-input" rows="5"
					placeholder="Type something here">Thai iced tea - perfect drink for the summer.  Strong black tea compliments the sweetened condensed milk.  The milk gives a nice richness to the tea.  I love how this isn't watered down.  It is very sweet but it's not a bad thing here.  4/5</textarea>

				<label for="text-output">Text regenerated</label>
				<textarea class="form-control" id="text-output" name="text-output" rows="5"
					placeholder="Here will be the regenerated text"></textarea>
			</fieldset>
		</div>

		 <div class="row align-items-center justify-content-center">
		  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right">
			  <div class="colorPicker"></div>
		  </div>
		  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 align-self-center" align="left">
			  <div style="margin-top: 30%; margin-bottom: 50%; margin-left:20%;">
				  <div>
					  <div>
						  <p>
							  Move the point to generate a sentence!
						  </p>
						  <p>
							  The closer the point is to the center,
							  the more similar the result <strike>will</strike>
							  is supposed to be to the original sentence.
						  </p>
					  </div>
					  <div>
						  <button type="submit" id="btn-submit" class="btn btn-success">
							  Regenerate
						  </button>
						  <div class="loader" id="loader"></div>
					  </div>
				  </div>
			  </div>
		  </div>
		</div>

		<div id="coords">
			<strong>radius:</strong> <span id="radius"></span>
			<br />
			<strong>angle:</strong> <span id="angle"></span>
		</div>
	</div>
	<footer>
		<script>
			document.getElementById("btn-submit").onclick = function (event) {
				const url = "/api/regenerator"; // use your endpoint
				const text = document.getElementById("text-input").value
				$.ajax({
					url: url,
					type: 'POST',
					contentType: 'application/json',
					datatype: 'json',
					data: JSON.stringify({
						// add here any additional value, such as range or options
						'text': text,
						'radius': Math.min(parseFloat($("#radius").text()), 100.0),
						'angle': parseFloat($("#angle").text()) % 360
					}),
					success: function (result) {
						// place here any display functions
						let parsedResults = JSON.parse(result);
						$('#text-output').val(parsedResults['new-text']);
					}
				});
			};

			document.getElementById("coords").style.visibility = "hidden";

			const spinnerHide = () => {
				$('#loader').css('display', 'none');
			}
			const spinnerShow = () => {
				$('#loader').css('display', 'inline-block');
			}

			spinnerHide();

			$(document)
				.ajaxStart(function () {
					spinnerShow();
					$("#btn-submit").prop("disabled", true);
				})
				.ajaxStop(function () {
					spinnerHide();
					$("#btn-submit").prop("disabled", false);
				});
		</script>
		<script>
			var colorPicker = new iro.ColorPicker(".colorPicker", {
				// color picker options
				// Option guide: https://iro.js.org/guide.html#Color-Picker-Options
				width: 420,
				height: 420,
				color: { r: 255, g: 255, b: 255 },
				anticlockwise: true,
				borderWidth: 1,
				borderColor: "#fff",
				sliderHeight: 0,
				sliderMargin: 0,
				layout: [
					{ component: iro.ui.Wheel, options: {} }
				]
			});

			colorPicker.on("color:change", function (color) {
				$("#radius").text(color.hsv.s);
				$("#angle").text(color.hsv.h);
			});
		</script>
	</footer>
</body>

</html>