{% extends "base.html" %}
{% set current_page_id = 'interpolate' %}
{% block title %}Text Interpolation{% endblock %}

{% block head %}
<style>
    .interpolates {
        margin-top: 2em;
        margin-bottom: 2em;
        display: none;
    }

    #input_alert {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<h2 align="center">Text Interpolation</h2>
<div>Enter two reviews with the same number of sentences and the model will try to interpolate between them.</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="review1">First Review:</label>
                <textarea class="form-control rounded-0" id="review1" name="review1" rows="5"
                          placeholder="Enter your review.">This place is generally alright. The food was just fine, nothing amazing though.</textarea>
                <br />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="review2">Second Review:</label>
                <textarea class="form-control rounded-0" id="review2" name="review2" rows="5"
                          placeholder="Enter your review.">This is the best restaurant I've ever been to! The food is superb, props to the chef!</textarea>
                <br />
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success" onclick="onClickSubmit()">
    Submit
</button>

<div class="alert alert-danger" role="alert" id="input_alert">
  Please enter two texts with the same number of sentences!
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 interpolates">
            <p>Interpolation in the space of positive reviews:</p>
            <div class="alert" id="positive_interpolates" role="alert"></div>
        </div>
        <div class="col-xs-6 interpolates">
            <p>Interpolation in the space of negative reviews:</p>
            <div class="alert" id="negative_interpolates" role="alert"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const fillWithResults = function(element, results) {
        let html = '';
        for (const i in results) {
            html += '<li>' + results[i] + '</li>'
        }
        element.html('<ul>' + html + '</ul>');
        element.show();
    };

    const onClickSubmit = function (event) {
        $('#input_alert').hide();
        $('.interpolates').hide();
        const url = "{{ url_for('api_interpolator') }}";
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify({
                // add here any additional value, such as range or options
                text1: $('#review1').val(),
                text2: $('#review2').val()
            }),

            success: function (result) {
                // place here any display functions
                console.log(result);
                const parsedResults = JSON.parse(result);
                fillWithResults($('#positive_interpolates'), parsedResults.positive);
                fillWithResults($('#negative_interpolates'), parsedResults.negative);
                $('#input_alert').hide();
                $('.interpolates').show();
            },

            error: function (result) {
                $('#input_alert').show();
            }
        });
    };

</script>
{% endblock %}
