<!DOCTYPE html>
<html>
<header>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Review Style Transfer</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
	<script href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
		#btn-submit {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.output {
			display: none;
		}

		.loader {
			border: 0.2em solid #f3f3f3;
			/* Light grey */
			border-top: 0.2em solid #3498db;
			/* Blue */
			border-radius: 50%;
			width: 2em;
			height: 2em;
			animation: spin 2s linear infinite;
			display: inline-block;
			margin-left: 1em;
			margin-top: 2.2em;
			position: absolute;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	</style>
</header>

<body>
	<div class="container">
		<h2 align="center">Review Style Transferrer</h2>
		<fieldset>
			<div class="form-group">
				<form action="{{ url_for('api_transferrer') }}" id="textform" method="post">
					<label for="review">Review:</label>
					<textarea class="display-4 form-control" id="review" name="review" rows="5"
						placeholder="Enter your review.">Went in for a lunch. Steak sandwich was delicious, and the Caesar salad had an absolutely delicious dressing, with a perfect amount of dressing, and distributed perfectly across each leaf. I know I'm going on about the salad... </textarea>
				</form>
			</div>
		</fieldset>
		<div>
			<button type="submit" id="btn-submit" class="btn btn-success" onclick="onClickSubmit()">
				Transfer
			</button>
			<div class="loader" id="loader"></div>
		</div>
		<div class="container">
			<div class="output alert alert-success" id="positive-output" name="positive-output-text"></div>
			<div class="output alert alert-danger" id="negative-output" name="negative-output-text"></div>
		</div>
	</div>
	</div>
	<footer>
		<script>
			const renderTextInStyle = function (text) {
				const url = "api/transferrer";
				$.ajax({
					url: url,
					type: 'POST',
					contentType: 'application/json',
					datatype: 'json',
					data: JSON.stringify({
						text: text
					}),
					success: function (result) {
						console.log(result);
						const parsedResults = JSON.parse(result);
						const isPositive = parsedResults.prediction;
						callTransferrer(text, isPositive);
					}
				});
			}

			const callTransferrer = function (text, isPositive) {
				const url = "api/transferrer"; // use your endpoint
				$.ajax({
					url: url,
					type: 'POST',
					contentType: 'application/json',
					datatype: 'json',
					data: JSON.stringify({
						text: text
					}),
					success: function (result) {
						console.log(result);
						let parsedResults = JSON.parse(result);
						$('#positive-output').text(parsedResults.positive)
						$('#negative-output').text(parsedResults.negative)
						$('.output').css('display', 'block');
					}
				});
			}
			const onClickSubmit = function (event) {
				const text = $('#review').val();
				renderTextInStyle(text);
			};

			$('#review').change(
				() => {
					if (!$('#review').val()) {
						$("#btn-submit").prop("disabled", true);
					} else {
						$("#btn-submit").prop("disabled", false);
					}

				}
			)

			const spinnerHide = () => {
				$('#loader').css('display', 'none');
			}
			const spinnerShow = () => {
				$('#loader').css('display', 'inline-block');
			}

			spinnerHide();

			$(document)
				.ajaxStart(function () {
					spinnerShow()
					$("#btn-submit").prop("disabled", true);
				})
				.ajaxStop(function () {
					spinnerHide();
					$("#btn-submit").prop("disabled", false);
				});

		</script>
	</footer>
</body>

</html>