{% extends "base.html" %}
{% set current_page_id = 'regenerate' %}
{% block title %}Regenerate{% endblock %}

{% block head %}
<script src="https://unpkg.com/@jaames/iro@beta/dist/iro.js"></script>
{% endblock %}

{% block body %}
<h2 align="center">Text Regenerator</h2>
<div class="row mt-3"><div class="col">
    <fieldset>
        <label for="text-input">Original Text</label>
        <textarea class="form-control" id="text-input" name="text-input" rows="5"
            placeholder="Type something here">Thai iced tea - perfect drink for the summer.  Strong black tea compliments the sweetened condensed milk.  The milk gives a nice richness to the tea.  I love how this isn't watered down.  It is very sweet but it's not a bad thing here.  4/5</textarea>
    </fieldset>
</div></div>

<div class="row align-items-center justify-content-center mt-4">
	<div class="col-xl-5" align="center">
		<div class="colorPicker"></div>
	</div>
	<div class="col-xl-7 pl-3 mt-4 align-self-center" align="left">
        <div>
            <div>
                <p>
                    Move the colourwheel pointer to generate a sentence!
                </p>
                <p>
                    The closer to the center,
                    the more similar the result <strike>will</strike>
                    is supposed to be to the original sentence.
                </p>
            </div>
            <div>
                <button type="submit" id="btn-submit" class="btn btn-success">
                    Regenerate
                </button>
                <div class="loader mt-1" id="loader"></div>
            </div>
        </div>
	</div>
</div>

<div class="row"><div class="col">
    <div class="output alert alert-secondary mt-4 mb-0"></div>
</div></div>
{% endblock %}

{% block scripts %}
<script>
	document.getElementById("btn-submit").onclick = function (event) {
	    $('.output').hide();
		const url = "/api/regenerator"; // use your endpoint
		const text = document.getElementById("text-input").value;
		$.ajax({
			url: url,
			type: 'POST',
			contentType: 'application/json',
			datatype: 'json',
			data: JSON.stringify({
				// add here any additional value, such as range or options
				'text': text,
				'radius': Math.min(parseFloat($("#radius").text()), 100.0),
				'angle': parseFloat($("#angle").text()) % 360
			}),
			success: function (result) {
				// place here any display functions
				let parsedResults = JSON.parse(result);
				$('.output').text(parsedResults['new-text']);
				$('.output').show();
			}
		});
	};

	const spinnerHide = () => {
		$('#loader').css('display', 'none');
	}
	const spinnerShow = () => {
		$('#loader').css('display', 'inline-block');
	}

	spinnerHide();

	$(document)
		.ajaxStart(function () {
			spinnerShow();
			$("#btn-submit").prop("disabled", true);
		})
		.ajaxStop(function () {
			spinnerHide();
			$("#btn-submit").prop("disabled", false);
		});
</script>
<script>
	var colorPicker = new iro.ColorPicker(".colorPicker", {
		// color picker options
		// Option guide: https://iro.js.org/guide.html#Color-Picker-Options
		width: 420,
		height: 420,
		color: { r: 255, g: 255, b: 255 },
		anticlockwise: true,
		borderWidth: 1,
		borderColor: "#fff",
		sliderHeight: 0,
		sliderMargin: 0,
		layout: [
			{ component: iro.ui.Wheel, options: {} }
		]
	});

	colorPicker.on("color:change", function (color) {
		$("#radius").text(color.hsv.s);
		$("#angle").text(color.hsv.h);
	});
</script>
{% endblock %}