{% extends "base.html" %}
{% set current_page_id = 'compare-reviews' %}
{% block title %}Review Relevance{% endblock %}

{% block head %}
<style>
    #similarity-score {
        margin-top: 2em;
        margin-bottom: 2em;
    }
</style>
{% endblock %}

{% block body %}
<h2 align="center">Relevance Classifier</h2>
<div class="row mt-3">
    <div class="col-sm-6">
        <div class="form-group">
            <form action="{{ url_for('review_comparer_api') }}" id="textform" method="post">
                <label for="review1">First Review:</label>
                <textarea class="form-control rounded-0" id="review1" name="review1" rows="5"
                    placeholder="Enter your review.">Thai iced tea - perfect drink for the summer.  Strong black tea compliments the sweetened condensed milk.  The milk gives a nice richness to the tea.  I love how this isn't watered down.  It is very sweet but it's not a bad thing here.  4/5
                            </textarea>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <form action="{{ url_for('review_comparer_api') }}" id="textform" method="post">
                <label for="review2">Second Review:</label>
                <textarea class="form-control rounded-0" id="review2" name="review2" rows="5"
                    placeholder="Enter your review.">The Gaeng Klaw Wan with chicken dish was a bit disappointing. They state that the dish comes in a mild/medium spice level. It was a bit bland for us. The presentation was cute as the curry was served in a coconut.</textarea>
            </form>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success" onclick="onClickSubmit()">
    Submit
</button>
<div class="similarity alert mt-3" id="similarity-score" name="similarity-score" role="alert"></div>

{% endblock %}

{% block scripts %}
<script>
    const similarityDegree = (score) => {
        if (score >= 0.66) {
            return 'The reviews are very likely to relate to the same restaurant.';
        } else if (score >= 0.50) {
            return 'The reviews are likely to relate to the same restaurant.';
        } else if (score >= 0.33) {
            return 'The reviews are unlikely to relate to the same restaurant.';
        } else if (score >= 0.00) {
            return 'The reviews are very unlikely to relate to the same restaurant.';
        }
    }
    const similarityDegreeClass = (score) => {
        if (score >= 0.66) {
            return 'alert-success';
        } else if (score >= 0.50) {
            return 'alert-info';
        } else if (score >= 0.33) {
            return 'alert-warning';
        } else if (score >= 0.00) {
            return 'alert-danger';
        }
    }
    const onClickSubmit = function (event) {
        const url = "api/review_comparer"; // use your endpoint
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify({
                // add here any additional value, such as range or options
                review1: $('#review1').val(),
                review2: $('#review2').val()
            }),


            success: function (result) {
                // place here any display functions
                console.log(result);
                const parsedResults = JSON.parse(result);
                const score = Number(parsedResults.score)
                $('#similarity-score').text(similarityDegree(score));
                $('#similarity-score').addClass(similarityDegreeClass(score))
            }
        });
        $('#review1').change(
            () => {
                $('#similarity-score').removeClass(function (index, className) {
                    return (className.match(/alert-[a-z]+/g) || []).join(' ');
                })
            }
        )
        $('#review2').change(
            () => {
                $('#similarity-score').removeClass(function (index, className) {
                    return (className.match(/alert-[a-z]+/g) || []).join(' ');
                })
            }
        )

    };
</script>
{% endblock %}