{% extends "base.html" %}
{% set current_page_id = 'transfer' %}
{% block title %}Review Style Transfer{% endblock %}

{% block body %}
<h2 align="center">Review Style Transferrer</h2>
<div class="row mt-3"><div class="col">
    <fieldset>
        <div class="form-group">
            <form action="{{ url_for('api_transferrer') }}" id="textform" method="post">
                <label for="review">Review:</label>
                <textarea class="display-4 form-control" id="review" name="review" rows="5"
                    placeholder="Enter your review.">Went for dinner with a friend of mine, really great place. All the staff were amazing!</textarea>
            </form>
        </div>
    </fieldset>
</div></div>
<button type="submit" id="btn-submit" class="btn btn-success" onclick="onClickSubmit()">
    Transfer
</button>
<div class="loader mt-1" id="loader"></div>
<div class="row mt-3"><div class="col">
    <div class="output alert alert-success mb-0" id="positive-output"></div>
</div></div>
<div class="row mt-3"><div class="col">
    <div class="output alert alert-danger" id="negative-output"></div>
</div></div>
{% endblock %}

{% block scripts %}
<script>
    const renderTextInStyle = function (text) {
        const url = "api/transferrer";
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify({
                text: text
            }),
            success: function (result) {
                console.log(result);
                const parsedResults = JSON.parse(result);
                const isPositive = parsedResults.prediction;
                callTransferrer(text, isPositive);
            }
        });
    };

    const callTransferrer = function (text, isPositive) {
        const url = "api/transferrer"; // use your endpoint
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify({
                text: text
            }),
            success: function (result) {
                console.log(result);
                let parsedResults = JSON.parse(result);
                $('#positive-output').text(parsedResults.positive)
                $('#negative-output').text(parsedResults.negative)
                $('.output').css('display', 'block');
            }
        });
    };
    const onClickSubmit = function (event) {
        const text = $('#review').val();
        renderTextInStyle(text);
    };

    $('#review').change(
        () => {
            if (!$('#review').val()) {
                $("#btn-submit").prop("disabled", true);
            } else {
                $("#btn-submit").prop("disabled", false);
            }

        }
    );

    const spinnerHide = () => {
        $('#loader').css('display', 'none');
    };
    const spinnerShow = () => {
        $('#loader').css('display', 'inline-block');
    };

    spinnerHide();

    $(document)
        .ajaxStart(function () {
            spinnerShow()
            $("#btn-submit").prop("disabled", true);
        })
        .ajaxStop(function () {
            spinnerHide();
            $("#btn-submit").prop("disabled", false);
        });

</script>
{% endblock %}