{% extends "base.html" %}
{% set current_page_id = 'generate-continuous' %}
{% block title %}Generate{% endblock %}

{% block head %}
<style>
#output-text {
    display: none;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover:enabled {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}
</style>
{% endblock %}

{% block body %}
<h2 align="center">Text Generator</h2>
<fieldset>
    <legend>Choose text style</legend>
    <div class="slidecontainer">
        <input type="range" min="-100" max="100" value="0" class="slider" id="style-slider">
        <p>Chosen style: <span id="style-text-value"></span></p>
    </div>
</fieldset>
<div>
    <button type="submit" id="btn-submit" class="btn btn-success" onclick="onClickSubmit()">
        Generate
    </button>
    <div class="loader" id="loader"></div>
</div>
<div id="output">
    <textarea class="form-control" id="output-text" name="output-text" rows="5" placeholder=""></textarea>
</div>
{% endblock %}

{% block scripts %}
<script>
    var slider = document.getElementById("style-slider");
    var output = document.getElementById("style-text-value");

    const onClickSubmit = function (event) {
        const url = "/api/generator/continuous"; // use your endpoint
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify({
                // add here any additional value, such as range or options
                'style-value': slider.value / 100.0
            }),
            success: function (result) {
                // place here any display functions
                console.log(result);
                let parsedResults = JSON.parse(result);
                $('#output-text').val(parsedResults.text);
                $('#output-text').css('display', 'block');
            }
        });
    };

    const transformStyleValueToStyleTextName = (styleValue) => {
        const transformAbsoluteValueToName = (absValue, styleName) => {
            if (styleValue == 100) {
                return styleName;
            } else if (styleValue > 80) {
                return 'significantly ' + styleName;
            } else if (styleValue > 50) {
                return 'mostly ' + styleName;
            } else if (styleValue > 20) {
                return 'somewhat ' + styleName;
            } else if (styleValue > 5) {
                return 'so-so ' + styleName;
            } else {
                return 'neutral';
            }
        };

        if (styleValue > 0) {
            return transformAbsoluteValueToName(styleValue, 'positive');
        } else if (styleValue < 0) {
            styleValue = -1 * styleValue;
            return transformAbsoluteValueToName(styleValue, 'negative');
        } else {
            return 'neutral';
        }
    };

    const spinnerHide = () => {
        $('#loader').css('display', 'none');
    };
    const spinnerShow = () => {
        $('#loader').css('display', 'inline-block');
    };

    $("#style-slider").toggleClass("cursor-pointer");
    spinnerHide();

    $(document)
        .ajaxStart(function () {
            spinnerShow()
            $("#btn-submit").prop("disabled", true);
            $("#style-slider").prop("disabled", true);
            $("#style-slider").toggleClass("cursor-default cursor-pointer");
        })
        .ajaxStop(function () {
            spinnerHide();
            $("#btn-submit").prop("disabled", false);
            $("#style-slider").prop("disabled", false);
            $("#style-slider").toggleClass("cursor-default cursor-pointer");
        });

    output.innerHTML = transformStyleValueToStyleTextName(slider.value); // Display the slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function () {
        output.innerHTML = transformStyleValueToStyleTextName(this.value);
    }

</script>
{% endblock %}