[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = ">=2.20.0"
Flask = ">=1.0.2"

[requires]
python_version = "3.6"

[scripts]

server="""
bash -c "PYTHONPATH=. FLASK_APP=main.py FLASK_DEBUG=1 python -m flask run"
"""
